#titulo {
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

#titulo h1 {
    font-size: 50px;
    text-align: center;
}

#descricao {
    display: flex;
    justify-content: center;
}

#descricao p {
    max-width: 550px;
    font-size: 18px;
    text-align: center;
}
